/* start @fontface */
@font-face {
    font-family: 'baron_neue';
    src: url('../fonts/baron_neue-webfont.eot');
    src: url('../fonts/baron_neue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/baron_neue-webfont.woff') format('woff'),
         url('../fonts/baron_neue-webfont.ttf') format('truetype'),
         url('../fonts/baron_neue-webfont.svg#baron_neue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'governor';
    src: url('../fonts/governor-webfont.eot');
    src: url('../fonts/governor-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/governor-webfont.woff') format('woff'),
         url('../fonts/governor-webfont.ttf') format('truetype'),
         url('../fonts/governor-webfont.svg#governor') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mission_script';
    src: url('../fonts/mission-script-webfont.eot');
    src: url('../fonts/mission-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission-script-webfont.woff') format('woff'),
         url('../fonts/mission-script-webfont.ttf') format('truetype'),
         url('../fonts/mission-script-webfont.svg#mission_script') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baron_neue_bold';
    src: url('../fonts/baron_neue_bold-webfont.eot');
    src: url('../fonts/baron_neue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/baron_neue_bold-webfont.woff') format('woff'),
         url('../fonts/baron_neue_bold-webfont.ttf') format('truetype'),
         url('../fonts/baron_neue_bold-webfont.svg#baron_neue_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* end @fontface */

/* start sticky footer components */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 12px; /* bottom = footer height */
}

footer {
    text-align: right;
    font-size: 0.6em;
    color: gray;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 12px;
    width: 100%;
}

footer a {
    color: gray;
    padding-right: 5px;
}

footer a:hover {
    color: white;
}
/* end sticky footer components */

body {
    font-family: 'baron_neue';
}

.container {
    width: 542px;
    position: absolute;
    left: 50%;
    top: 15%;
    margin: -40px 0 0 -271px;
    flex: 1;
}

.box {
    width: inherit;
}

.const-text {
    font-family: 'mission_script';
    color: white;
    font-size: 3.0em;
    text-align: center;
    padding-bottom: 20px;
}

/* Logo etc for Desktop view */
@media all and (min-width: 561px) {

    .mobile-view {
        display: none;
    }

    .small-logo {
        display: none;
    }

    .bounding-box {
        display: block;
        border: 2px solid #ffffff;
        width: 544px;
        height: 160px;
        padding-top: 3px;
        height: 80px;
    }

    .logo {
        float: left;
        border-right: 2px solid #ffffff;
        padding: 0px 1px;
        padding-bottom: 2px;
    }

    .arronollington {
        font-family: 'baron_neue_bold';
        color: white;
        font-size: 3.0em;
        padding: 10px;
        padding-top: 20px;
    }

    .handcraftedprojects {
        color: white;
        font-size: 1.6em;
        padding: 10px;
    }
}

.contact-form {
    color: white;
    font-size: 1.0em;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

input {
  display: inline-block;
  float: left;
}

.left-block {
    font-family: 'baron_neue_bold';
    color: white;
    display: block;
    float: left;
    padding-top: 10px;
}

.right-block {
    color: white;
    display: block;
    float: right;
    padding-top: 10px;
}

.contact-link {
    clear: both;
    width: 100%;
    height:100%;
    display: block;
    font-size: 1.0em;
    padding: 10px 0px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #b0b0b0;
    text-shadow: 1px 1px 3px #000;
}

.submit {
    font-family: 'baron_neue';
    font-size: 1.0em;
    border: none;
    background-color: gray;
    color: white;
    width: 60px;
    height: 40px;
    margin-left: 46%;
}

.submit:hover {
    background-color: black;
    color: gray;
}

/* Mobile device width */
@media all and (max-width: 560px) {

    .container {
        width: 360px;
        position: absolute;
        left: 50%;
        top: 10%;
        margin: -40px 0 0 -180px;
        display: table-cell;
        vertical-align: middle;
    }

    .const-text {
        font-size: 2.0em;
    }

    .mobile-view {
        width: 100%;
    }

    .small-logo {
        margin: 0 auto;
        display: block;
    }

    .bounding-box {
        display: none;
    }

    .arronollington {
        display: none;
    }

    .handcraftedprojects {
        display: none;
    }

    .logo {
        display: none;
    }

    .contact-form {
        font-size: 0.8em;
    }

    label {
        width: 150px;
    }

    .left-block {
        float: none;
        text-align: center;
    }

    .right-block {
        float: none;
        text-align: center;
    }

    .contact-link {
        padding-top: 1.1em;
    }

}
